/* Basic app resetting */
*,
*::after,
*::before {
     margin: 0;
     padding: 0;
     box-sizing: inherit;
}

html {
     /*  Will use rem for responsive design purpose*/
     /* Using 10 px by default of given user agent fon size which is 16px (10 / 16)  */
     /* Using percentage so as not to restrict the user to use fixed fontsize set by us */
     font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%

     @include respond(tab-land) {  // Width < 1200
          font-size: 56.25%; // 1rem = 9px; 9px/16px = 56.25%
     }

     @include respond(tab-pot) {   // Width < 900
          font-size: 50%; // 1rem = 8px; 8px/16px = 50%
     }

     @include respond(big-desktop) {    
          font-size: 70%; // 1rem = 12px; 12px/16px = 62.5%
     }
}

body {
     /* Include margin and padding inside the box*/
     box-sizing: border-box;
     padding: 3rem;
     @include respond(tab-pot) {
          padding: 0;
     }
}

::selection {
     background-color: $color-primary;
     color: $color-white;
}