.about-section {
     background-color: $color-grey-light-1;
     padding: 25rem 0;
     margin-top: -25vh;
}

.heading-secondary {
     font-size: 3.5rem;
     text-transform: uppercase;
     font-weight: 700;
     background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
     display: inline-block;
     // Clip the gradient
     // Only background behind text will show
     -webkit-background-clip: text;
     // Make the text transparent
     color: transparent;
     // It is so small and will hardly have effect on other user agents
     letter-spacing: 2px;
     transition: all 2s;

     &:hover {
          transform: skewY(2deg) skewX(15deg) scale(1.1);
          text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
     }
}

.features-section {
     padding: 20rem 0;
     background-image: linear-gradient(to right, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)),url("../../img/nat-4.jpg");
     background-size: cover;
     transform: skewY(-7deg);
     margin-top: -10rem;

     // Select the direct childs of features-section
     // In our case it is the row inside feature-section
     & > * {
          transform: skewY(7deg);
     }
}

.tours-section {
     background-color: $color-grey-light-1;
     padding: 25rem 0 15rem 0;
     margin-top: -18vh;
}

.stories-section {
     padding: 15rem 0;
     position: relative;
}

.booking-section {
     padding: 15rem 0;
     background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-light);
}

.book {
     background-image: linear-gradient(105deg, 
          rgba($color-white, .9) 0%, 
          rgba($color-white, .9) 50%,
          transparent 50%),
          url("../../img/nat-10.jpg");
     // Take full width and height and maintain aspect ratio
     background-size: cover;
     border-radius: 3px;
     box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
     height: 50rem;

     &__form {
          width: 50%;
          padding: 6rem;
     }
}